{%extends "refxpert/base.html"%}

{% block content %}

<section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="lg:col-span-2 lg:py-12">
          <p class="max-w-xl text-lg font-semibold italic">
            "At the same time, the fact that we are only concerned about your investments, we are
            confident that we will only recommend what is right for you."
          </p>
  
          <div class="mt-8">
            <a href="tel:+44 758 585 7424" class="text-2xl font-bold text-blue-950">
              +44 758 585 7424
            </a>
  
            <address class="mt-2 not-italic">
              PrinceGate House Doncaster South Yorshire, UK  DN1 3EN
            </address>
          </div>
        </div>
  
        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
          <form action="https://formspree.io/f/mrgwnavk" method= "POST" class="space-y-4">
            {% csrf_token %}
            <input type="hidden" name="User name" value="{{ request.user.username }}" required>
            <div>
              <label class="sr-only" for="name">Name</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Name"
                type="text"
                name="name"
                required
              />
            </div>
  
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="email">Email</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Email address"
                  type="email"
                  name="email"
                  required
                />
              </div>
  
              <div>
                <label class="sr-only" for="phone">Phone</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Phone Number"
                  type="tel"
                  name="phone"
                  required
                />
              </div>
            </div>
  
            <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
              <div>
                <input
                  class="peer sr-only"
                  id="option1"
                  type="radio"
                  tabindex="-1"
                  name="Tenant Referencing"
                />
  
                <label
                  for="option1"
                  class="block w-full rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-blue-950 peer-checked:border-blue-950 peer-checked:bg-blue-950 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm"> Tenant Referencing </span>
                </label>
              </div>
  
              <div>
                <input
                  class="peer sr-only"
                  id="option2"
                  type="radio"
                  tabindex="-1"
                  name="Property Management"
                />
  
                <label
                  for="option2"
                  class="block w-full rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-blue-950 peer-checked:border-blue-950 peer-checked:bg-blue-950 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm"> Property Management </span>
                </label>
              </div>
  
              <div>
                <input
                  class="peer sr-only"
                  id="option3"
                  type="radio"
                  tabindex="-1"
                  name="Legal Services"
                />
  
                <label
                  for="option3"
                  class="block w-full rounded-lg border border-gray-200 p-3 text-gray-600 hover:border-blue-950 peer-checked:border-blue-950 peer-checked:bg-blue-950 peer-checked:text-white"
                  tabindex="0"
                >
                  <span class="text-sm"> Legal Services </span>
                </label>
              </div>
            </div>
  
            <div>
              <label class="sr-only" for="message">Message</label>
  
              <textarea
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Message"
                rows="8"
                name="message"
                required
              ></textarea>
            </div>
            <div class="mt-4">
              <button
                type="submit"
                class="inline-block w-full rounded-lg bg-blue-950 px-5 py-3 font-medium text-white sm:w-auto"
              >
                Send Enquiry
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}