{%extends "refxpert/base.html"%}

{% block content %}
<h2 class="text-lg font-extrabold p-4 mt-4 ">Reset Password</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
        <input id="id_new_password1" type="password" name="new_password1" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div class="mb-4">
        <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
        <input id="id_new_password2" type="password" name="new_password2" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <button type="submit" class="inline-block rounded bg-blue-950 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">Submit</button>
</form>
{% endblock %}



